#banner {
    height: 400px;
    background-image: url('images/clement.jpg');
    text-align: center;
    background-position-x: center;
    background-position-y: 10%;
    background-size: 100%;
}

#banner h1 {
    font-size: 64px;
    color: #fff;
    text-shadow:
            3px 3px 0 #000,
            -3px -3px 0 #000,
            3px -3px 0 #000,
            -3px 3px 0 #000,
            3px 3px 0 #000;
    letter-spacing:0.03em;
}

.bold-header {

}