.banner {
    background-image: url('images/clement.jpg');
    text-align: center;
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 38%
}

@media (max-width: 767px) {
    .banner {
        background-size: auto;
        background-position-y: 48%

    }

    .banner h1.bold-header {
        margin-top: 0;
        font-size: 50px;
    }
    #obama-quote {
        padding-top: 10px;
    }

}

@media (min-width: 767px) {
    #obama-quote {
        padding-top: 100px;
    }
}

.banner {
    padding: 0;
}

#banner-top {
    margin-bottom: 40px;
}

#banner-bottom {
    margin-top: 40px;
    color: #eee;
}

.banner h1 {
    margin: 0;
    padding: 0;
}

#logo {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}

#yimby-logo {
    background-color: rgba(50, 50, 50, 0.8);
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}

#yimby-logo img {
    margin-bottom: 20px;
}

#grow p {
    font-size: 18px;
}

#grow li {
    font-size: 18px;
    margin-bottom: 5px;
}

#text-background {
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    background: #fff;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.center-text {
    text-align: center;
}

.nav li a {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    min-height: inherit;
}

#grow #navbar li {
    margin-bottom: 0;
}

.navbar-nav>li {
    float: left;
}

.navbar-nav {
    margin: 0;
}

