#banner {
    background-image: url('images/clement.jpg');
    text-align: center;
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    #banner {
        background-size: auto;
    }

    #banner h1.bold-header {
        margin-top: 0;
        font-size: 60px;
    }
}

#banner h1 {
    font-size: 80px;
    color: #fff;
    text-shadow:
            3px 3px 0 #000,
            -3px -3px 0 #000,
            3px -3px 0 #000,
            -3px 3px 0 #000,
            3px 3px 0 #000;
    letter-spacing:0.03em;
    padding-top: 80px;
    padding-bottom: 100px;

}

.bold-header {

}